<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="tanciEntities" connectionString="metadata=res://*/BDModel.BDModel.csdl|res://*/BDModel.BDModel.ssdl|res://*/BDModel.BDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-OA6QC9LBOF8\SQLEXPRESS;initial catalog=tanci;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="servisEntities" connectionString="metadata=res://*/BDModel.BDModel.csdl|res://*/BDModel.BDModel.ssdl|res://*/BDModel.BDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-OA6QC9LBOF8\SQLEXPRESS;initial catalog=servis;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="stiralkiEntities" connectionString="metadata=res://*/BDModel.Model1.csdl|res://*/BDModel.Model1.ssdl|res://*/BDModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-OA6QC9LBOF8\SQLEXPRESS;initial catalog=stiralki;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="chasiEntities" connectionString="metadata=res://*/BDModel.Model1.csdl|res://*/BDModel.Model1.ssdl|res://*/BDModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-OA6QC9LBOF8\SQLEXPRESS;initial catalog=chasi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>